<!doctype html>
<html>
<head>
	<title>Romano's Database Assignment</title>
	  <link rel="stylesheet" href="style2.css" type="text/css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<body>
	{{{body}}}
</body>
</html>
