<form action="/sendupdate">
	<h2> update info for this person </h2>

	<label>name</label>
	<br/>
	<input type="text" name="name" id="name" value="{{results.name}}" />
	<br/>
	<br/>

	<label>email</label>
	<br/>
	<input type="text" name="email" id="email" value="{{results.email}}" />
	<br/>
	<br/>
	<input type="hidden" name="id" id="id" value= {{results.id}}>
	<input type="submit" id="submitUpdate" />
</form>
