

body
{
    font-family: Arial, Verdana, sans-serif;

    color: #111;
}

div
{
    line-height: 1.6em;

    display: inline-block ;

    width: 30%;
    margin: 0, auto;
    margin-top: 20px;

    text-align: center;

    border: 1px solid #d6d6d6;
    background-color: #fff;
}
form
{
    width: 400px;
    margin: 0 auto;

    text-align: center;

    background-color: #fff;
}

table
{
    width: 600px;
    margin: 0, auto;
}

th,
td
{
    padding: 7px 10px 10px 10px;
}


th
{
    font-size: 90%;

    text-align: center;
    letter-spacing: .1em;
    text-transform: uppercase;

    border-top: 1px solid #999;
    border-bottom: 2px solid #111;
    background-color: #f9c8bb;
}

tr
{
    background-color: #fae9e5;
}
